*{
  margin: 0;
  padding: 0;
}.about{
    background-color:darkblue;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2px 3px;
    border: 3px solid skyblue;
    border-radius: 21px;
}
.container {
    position: relative;
    width: 100%;
    height: auto;
  }
.ceoi{
  color: navy;
  text-align: center;
}
a:link{
  text-decoration: none;
}
.containert{
    position: absolute;
    width: 100%;
    height: auto;  
}
.art{
  color: navy;
  text-align: center;
}
a:link{
  text-decoration: none;
}
